* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.glavno {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #1b1636;
}

.levo {
    flex: 1;
    background-image: url("../slike/background/levi-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.desno {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 40px 20px;
}

.prijavno-okno {
    max-width: 380px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.glava img.barca-logo {
    width: 70px;
    margin-bottom: 15px;
}

.glava h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.glava p {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 25px;
    line-height: 1.5;
}

.prijava {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left;
}

.prijava label {
    font-size: 12px;
    color: #ccc;
    margin-left: 5px;
}

.prijava input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #3b3655;
    background-color: #2a2550;
    color: #fff;
    outline: none;
    transition: border-color 0.2s ease;
}

.prijava input:focus {
    border-color: #a18aff;
}

.continue {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #4c4873;
    color: #999;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.continue:hover {
    background-color: #6b66a3;
    color: #fff;
}

.ali {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
    color: #999;
    font-size: 13px;
    width: 100%;
}
.google{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    padding:5px;
    width:40%;
}
.apple{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    padding:5px;
    width:40%;
}
.ali hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #2d2b4b;
}

@media (max-width: 768px) {
    .glavno {
        flex-direction: column;
    }

    .levo {
        display: none;
    }

    .desno {
        flex: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .prijavno-okno {
        max-width: 90%;
        margin: 0 auto;
    }
}




